<div class="search">
    <ul class="tabs">
        <li class="acive">搜点</li>
        <li>地址</li>
        <li>优惠券</li>
        <li>全文</li>
        <li>视频</li>
    </ul>
    <div class="search-wrap">
        <div class="attach"></div>
        <div class="form fl">
            <form action="#" class="fl">
                <input type="text" class="search-value" placeholder="例如：荷棠鱼坊烤鱼 或 樱花日本料理"><input type="submit" value="" class="fr">
            </form>
        </div>
        <div class="search-msg fr">
            <p>
                金钱豹、大江南、湘水之珠、德瑀楼 荷棠鱼坊烤鱼、SOHO尚都、湘味楼...
            </p>
        </div>
    </div>
    <div class="scroll-wrap">
        <div class="scroll-msg">
            <ul class="scorll-ul">
                <li>
                    <a href="#">
                        <strong>萱萱</strong>
                        <span>5分钟前</span>
                        <span>写了一篇新文章：那场风花雪月的往事不如我和她的一夜情深</span>
                    </a>
                </li>
            </ul>
            <div class="scroll-arr">
                <a href="javascript:;" class="arr-up"></a>
                <a href="javascript:;" class="arr-down"></a>
            </div>
        </div>
    </div>
</div>