<!DOCTYPE html>
<html>

<head>
    <!-- ws: 引入公共样式 -->
    {{{include '../widget/public_style'}}}
    <!-- we: 引入公共样式 -->
</head>

<body>
    <div id="wrap">
        {{{include './components/bar'}}} {{{include './components/header'}}} {{{include './components/search'}}} {{{include './components/content'}}} {{{include './components/footer'}}}
    </div>
    <!--ws: 公共Script -->
    {{{include '../widget/public_script'}}}
    <!--we: 公共Script -->
    <script>
        //通过require的方式来引入需要的js
        require(['index'], function() {});
    </script>
</body>

</html>